{% extends 'base.html' %}
{% block body %}    

    <!-- Add Todos -->
    <div class="container mt-4">
        <h3 style="text-align: left;">Update Todo</h3>

        <form action="/update/{{todo.sno}}" method="POST">
            <div class="mb-3">
                <label class="form-label">Todo Title</label>
                <input type="text" name="title" class="form-control" value="{{todo.title}}"
                    aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Todo
                    Description</label>
                <input type="text" class="form-control" name="description" value="{{todo.desc}}">
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
    
{% endblock body %}